USE [master]
GO
/****** Object:  Database [Airlines27]    Script Date: 04.03.2023 12:36:47 ******/
CREATE DATABASE [Airlines27]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Airlines27', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Airlines27.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Airlines27_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Airlines27_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Airlines27].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Airlines27]
GO
/****** Object:  Table [dbo].[Airplane]    Script Date: 04.03.2023 12:36:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Airplane](
	[IdAirplane] [int] IDENTITY(1,1) NOT NULL,
	[Model] [nvarchar](50) NULL,
	[DateOfManufacture] [date] NULL,
	[LifeTime] [int] NULL,
	[Readiness] [nvarchar](50) NULL,
	[IdCapitan] [int] NULL,
 CONSTRAINT [PK_Airplane] PRIMARY KEY CLUSTERED 
(
	[IdAirplane] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Captain]    Script Date: 04.03.2023 12:36:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Captain](
	[IdCaptain] [int] IDENTITY(1,1) NOT NULL,
	[Fio] [nvarchar](150) NULL,
	[Adress] [nvarchar](150) NULL,
	[Phone] [nvarchar](50) NULL,
	[Flying] [int] NULL,
	[PhotoCapitan] [nvarchar](150) NULL,
 CONSTRAINT [PK_Captain] PRIMARY KEY CLUSTERED 
(
	[IdCaptain] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marshrut]    Script Date: 04.03.2023 12:36:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marshrut](
	[IdMarshrut] [int] IDENTITY(1,1) NOT NULL,
	[Airport] [nvarchar](50) NULL,
	[DestinationAirport] [nvarchar](50) NULL,
	[PriceTicket] [int] NULL,
	[TimeFlight] [int] NULL,
 CONSTRAINT [PK_Marshrut] PRIMARY KEY CLUSTERED 
(
	[IdMarshrut] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Passangers]    Script Date: 04.03.2023 12:36:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passangers](
	[IdPassangers] [int] IDENTITY(1,1) NOT NULL,
	[NumberPassport] [nvarchar](50) NULL,
	[Fio] [nvarchar](150) NULL,
	[Adress] [nvarchar](150) NULL,
	[Phone] [nvarchar](50) NULL,
	[IdReys] [int] NULL,
 CONSTRAINT [PK_Passangers_1] PRIMARY KEY CLUSTERED 
(
	[IdPassangers] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reys]    Script Date: 04.03.2023 12:36:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reys](
	[IdReys] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NULL,
	[TimeDeparture] [time](7) NULL,
	[Flights] [nvarchar](50) NULL,
	[IdAirplane] [int] NULL,
	[IdMarshrut] [int] NULL,
 CONSTRAINT [PK_Reys] PRIMARY KEY CLUSTERED 
(
	[IdReys] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Airplane]  WITH CHECK ADD  CONSTRAINT [FK_Airplane_Captain] FOREIGN KEY([IdCapitan])
REFERENCES [dbo].[Captain] ([IdCaptain])
GO
ALTER TABLE [dbo].[Airplane] CHECK CONSTRAINT [FK_Airplane_Captain]
GO
ALTER TABLE [dbo].[Passangers]  WITH CHECK ADD  CONSTRAINT [FK_Passangers_Reys] FOREIGN KEY([IdReys])
REFERENCES [dbo].[Reys] ([IdReys])
GO
ALTER TABLE [dbo].[Passangers] CHECK CONSTRAINT [FK_Passangers_Reys]
GO
ALTER TABLE [dbo].[Reys]  WITH CHECK ADD  CONSTRAINT [FK_Reys_Airplane] FOREIGN KEY([IdAirplane])
REFERENCES [dbo].[Airplane] ([IdAirplane])
GO
ALTER TABLE [dbo].[Reys] CHECK CONSTRAINT [FK_Reys_Airplane]
GO
ALTER TABLE [dbo].[Reys]  WITH CHECK ADD  CONSTRAINT [FK_Reys_Marshrut] FOREIGN KEY([IdMarshrut])
REFERENCES [dbo].[Marshrut] ([IdMarshrut])
GO
ALTER TABLE [dbo].[Reys] CHECK CONSTRAINT [FK_Reys_Marshrut]
GO
USE [master]
GO
